
@{
    ViewBag.Title = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}
<link href="~/Asset/css/style.css" rel="stylesheet" />
<main class="main" style="margin: 0px auto;">
    <div class="sec-80">
        <h2 class="sec-title form__title">Đổi mật khẩu</h2>
        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            <label class="fl-col" style="color:red; text-align:center;">@ViewBag.Error</label>
        }
        else
        {
            <label class="fl-col" style="color:green; text-align:center;">@ViewBag.Success</label>
        }
        <div class="form__wrap con">
            <form action="/Login/ChangePassword" method="post" id="mona-login-form">
                <div class="form">                  
                    <input type="password" name="PasswordOld" required="" class="rs-form form__inp" placeholder="Mật khẩu cũ">
                    <input type="password" name="PasswordNew" required="" class="rs-form form__inp" placeholder="Mật khẩu mới">
                    <input type="password" name="ConfirmPassword" required="" class="rs-form form__inp" placeholder="Xác nhận mật khẩu mới">                 
                    <div class="fl-wrap aln-ct form__bot form__mb">
                        <button class="rs-form btn-pri c-whi form__submit-small m-btn-loading">
                            Đổi mật khẩu
                        </button>
                    </div>
                    <div id="response-login">

                    </div>
                </div>
            </form>
        </div>
    </div>
</main>


