
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}
<link href="~/Asset/css/style.css" rel="stylesheet" />
<main class="main" style="margin: 0px auto;">
    <div class="sec-80">
        <h2 class="sec-title form__title">Đăng nhập</h2>
        <div class="form__wrap con">
            <form action="/Login/Index" method="post" id="mona-login-form">
                <div class="form">
                    <div class="form__txt">
                        Bạn chưa có tài khoản?
                        <a href="https://levents.asia/my-account/register/" class="form__link">
                            Đăng ký
                        </a>
                    </div>
                    <input type="text" name="Username" required="" class="rs-form form__inp" placeholder="Tài khoản ">
                    <input type="password" name="Password" required="" class="rs-form form__inp" placeholder="Mật khẩu">
                    <div class="form__check">
                        <label class="fl-col" style="color:red">@ViewBag.Error</label>
                    </div>
                    <div class="fl-wrap aln-ct form__bot form__mb">
                        <button class="rs-form btn-pri c-whi form__submit-small m-btn-loading">
                            Đăng nhập
                        </button>
                    </div>
                    <div id="response-login">

                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

