@{
    ViewBag.Title = "Home Page";
}


        <div class="main-slider">
            <div class="slider">
                <img src="https://levents.asia/wp-content/uploads/2023/10/Có-thể-nào-1920x988.png" alt="">
            </div>
            <div class="text-slider">
               <div class="text"> 
                    <a href="https://levents.asia/shop/">NEW PRODUCT LINE LEVENTS® CLASSIC</a>
                </div>
            </div>
        </div>
 
    <div class="sec-80">
        <div class="clo">
            <h2 class="sec-title">
                NEW PRODUCT LINE LEVENTS® CLASSIC
            </h2>
            <div class="clo-list">
                <div class="clo-4">
                    <div class="item">
                        <div class="img">
                           <a href="#">
                            <img src="~/Asset/images/1.jpg" alt="">
                            <!-- <img src="https://levents.asia/wp-content/uploads/2023/08/z4740519152019_5c22e68f0fec48d0ef2af05a51cccfbf-400x500.jpg" alt="">                    -->
                           </a>
                        </div>
                        <div class="des">
                               <a href="https://levents.asia/product/levents-classic-regular-polo-white/?c=levents-classic-regular-polo-black">LEVENTS® CLASSIC REGULAR POLO/ BLACK</a>
                                <div class="price" data="price">420,000 vnđ</div>
                        </div>                     
                    </div>
                </div>
                <div class="clo-4">
                    <div class="item">
                        <div class="img">
                           <a href="#">
                            <img src="~/Asset/images/2.jpg">
                            <!-- <img src="https://levents.asia/wp-content/uploads/2023/08/z4740516837441_34a2a19f20d25b1625eb0d6e41a2b391-400x500.jpg" alt=""> -->
                            </a>
                        </div>
                        <div class="des">
                               <a href="https://levents.asia/product/levents-classic-regular-polo-white/?c=levents-classic-regular-polo-white">LEVENTS® CLASSIC REGULAR POLO/ WHITE</a>
                                <div class="price" data="price">420,000 vnđ</div>
                        </div>                     
                    </div>
                </div>
                <div class="clo-4">
                    <div class="item">
                        <div class="img">
                           <a href="#">
                            <img src="~/Asset/images/3.jpg" alt="">
                            <!-- <img src="https://levents.asia/wp-content/uploads/2023/08/z4740517722018_ea08bb6110f003a006d365334d723011-400x500.jpg" alt=""> -->
                            </a>
                        </div>
                        <div class="des">
                               <a href="https://levents.asia/product/levents-classic-sweater-blue/?c=levents-classic-sweater-cream">LEVENTS® CLASSIC SWEATER/ CREAM</a>
                                <div class="price" data="price">490,000 vnđ</div>
                        </div>                     
                    </div>
                </div>
                <div class="clo-4">
                    <div class="item">
                        <div class="img">
                           <a href="#">
                            <img src="~/Asset/images/4.jpg" alt="">
                            <!-- <img src="https://levents.asia/wp-content/uploads/2023/08/z4740517530389_89415232f086e80e00467b348d210e78-400x500.jpg" alt=""> -->
                            </a>
                        </div>
                        <div class="des">
                               <a href="https://levents.asia/wp-content/uploads/2023/08/z4740517545480_93f69d1b02941b3d66581a69fb3c384a-400x500.jpg">LEVENTS® CLASSIC SWEATER/ BLUE</a>
                                <div class="price" data="price">490,000 vnđ</div>
                        </div>                     
                    </div>
                </div>
                <div class="clo-4">
                    <div class="item">
                        <div class="img">
                           <a href="#">
                            <img src="~/Asset/images/5.jpg" alt="">
                            <!-- <img src="https://levents.asia/wp-content/uploads/2023/08/z4740517150582_db42b4f382162a9097fe746fdd07475e-400x500.jpg" alt=""> -->
                            </a>
                        </div>
                        <div class="des">
                               <a href="https://levents.asia/wp-content/uploads/2023/08/z4740517150589_f093bad8a0bee60ddcfb71cabd5a2dfc-400x500.jpg">LEVENTS® CLASSIC STRIPED LONG SLEEVE<br><span style="margin-left: 10px;"> SHIRT/ BLUE</span> </a>
                                <div class="price" data="price">430,000 vnđ</div>
                        </div>                     
                    </div>
                </div>
                <div class="clo-4">
                    <div class="item">
                        <div class="img">
                           <a href="#">
                            <img src="~/Asset/images/6.jpg" alt="">
                            <!-- <img src="https://levents.asia/wp-content/uploads/2023/08/z4740516837441_34a2a19f20d25b1625eb0d6e41a2b391-400x500.jpg" alt=""> -->
                            </a>
                        </div>
                        <div class="des">
                               <a href="https://levents.asia/wp-content/uploads/2023/08/z4740516844906_204055cb1c4c997527efdec05bfdcd7b-400x500.jpg">LEVENTS® CLASSIC REGULAR TEE/ WHITE</a>
                                <div class="price" data="price">370,000 vnđ</div>
                        </div>                     
                    </div>
                </div>
                <div class="clo-4">
                    <div class="item">
                        <div class="img">
                           <a href="#">
                            <img src="~/Asset/images/7.jpg" alt="">
                            <!-- <img src="https://levents.asia/wp-content/uploads/2023/08/z4740516607500_666e8138e41971a54099a9f204dc1a99-400x500.jpg" alt=""> -->
                            </a>
                        </div>
                        <div class="des">
                               <a href="https://levents.asia/wp-content/uploads/2023/08/z4740516616222_59cae362231b3025116ed720f7f6adc7-400x500.jpg">LEVENTS® CLASSIC REGULAR TEE/ BLACK</a>
                                <div class="price" data="price">370,000 vnđ</div>
                        </div>                     
                    </div>
                </div>
                <div class="clo-4">
                    <div class="item">
                        <div class="img">
                           <a href="#">
                            <img src="~/Asset/images/8.jpg" alt="">
                            <!-- <img src="https://levents.asia/wp-content/uploads/2023/08/z4740516424179_8eef58fe6cbe8b163d9710b9cc748561-400x500.jpg" alt=""> -->
                            </a>
                        </div>
                        <div class="des">
                               <a href="https://levents.asia/wp-content/uploads/2023/08/z4740516430875_be9f81b1151fe1acc362dc0cf8ec2b85-400x500.jpg">LEVENTS® CLASSIC LINE TRACK <br> <span style="margin-left: 10px;">PANTS/ BLACK</span></a>
                                <div class="price" data="price">470,000 vnđ</div>
                        </div>                     
                    </div>
                </div>
            </div>  
            <div class="sec-btn">
                <a href="https://levents.asia/shop/">Xem thêm</a>
            </div>         
        </div>      
    </div>
    <div class="title-video">
        F/W 2023 CAMPAIGN VIDEO
    </div>
    <div class="slider-video">
        <div class="video">
            <video src="https://levents.asia/wp-content/uploads/2023/09/Final_bản-web-17mb.mp4" autoplay loop muted></video>
        </div>
        <div class="text-video">
            <a href="https://levents.asia/shop/">Bộ sưu tập mới của Levents!</a>
        </div>
     </div>
    
    <div class="text-stylist">
        <h2>BỘ PHỐI CỦA LEVENTS</h2>
    </div>
    <div class="stylist">    
        <div class="col-2">
            <div class="sty-item">
                <div class="sty-img">
                    <img src="https://levents.asia/wp-content/uploads/2023/07/Famale-3-Front-683x1024.png" alt="">
                </div>
               <div class="sty-subtitle">LEVENTS® HEART PUZZLE TEE/ BLACK <br>
                <a href="https://levents.asia/styling/">Xem bộ sưu tập</a>
               </div>
            </div>
        </div>
        <div class="col-2">
            <div class="sty-item">
                <div class="sty-img">
                    <img src="https://levents.asia/wp-content/uploads/2023/07/Male-7-Front-1024x1536.png" alt="">
                </div>
               <div class="sty-subtitle">LEVENTS® HOT AIR BALLOON TEE/ CREAM<br>
                <a href="https://levents.asia/styling/">Xem bộ sưu tập</a>
               </div>
            </div>
        </div>
        <div class="col-2">
            <div class="sty-item">
                <div class="sty-img">
                    <img src="https://levents.asia/wp-content/uploads/2023/07/Male-5-Front-1000x1500.png" alt="">
                </div>
               <div class="sty-subtitle">LEVENTS® PIXEL FLOWER TEE/ BLACK<br>
                <a href="https://levents.asia/styling/">Xem bộ sưu tập</a>
               </div>
            </div>
        </div>
        <div class="col-2">
            <div class="sty-item">
                <div class="sty-img">
                    <img src="https://levents.asia/wp-content/uploads/2023/07/Famale-4-Front-768x1152.png" alt="">
                </div>
               <div class="sty-subtitle">LEVENTS® FLOWER CART RAGLAN REGULAR<br>
                <a href="https://levents.asia/styling/">Xem bộ sưu tập</a>
               </div>
            </div>
        </div>
        <div class="col-2">
            <div class="sty-item">
                <div class="sty-img">
                    <img src="https://levents.asia/wp-content/uploads/2023/07/Famale-7-Front-1000x1500.png" alt="">
                </div>
               <div class="sty-subtitle">LEVENTS® JOGGER TEE/ GREEN<br>
                <a href="https://levents.asia/styling/">Xem bộ sưu tập</a>
               </div>
            </div>
        </div>
        <div class="col-2">
            <div class="sty-item">
                <div class="sty-img">
                    <img src="https://levents.asia/wp-content/uploads/2023/07/Male-3-Front-1024x1536.png" alt="">
                </div>
               <div class="sty-subtitle">LEVENTS® BASIC BOXY HOODIE/ BROWN<br>
                <a href="https://levents.asia/styling/">Xem bộ sưu tập</a>
               </div>
            </div>
        </div>
    </div>
    <div class="address-mess">
        <div class="maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4478566049024!2d106.6638653147862!3d10.77696999232121!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f449e9d9bc9%3A0x303d1df7f8ed6194!2zTEVWRU5UU8Ku!5e0!3m2!1svi!2s!4v1650093647553!5m2!1svi!2s" frameborder="0"></iframe>
        </div>
        <!-- <div class="clear"></div> -->
        <div class="message">
            <h3>GỬI TIN NHẮN NGAY CHO LEVENTS <br>
                KHI BẠN CẦN HỖ TRỢ HOẶC CÓ THẮC MẮC NHÉ!</h3>
                <input class="inf" type="text" placeholder="Họ và tên">
                <input class="inf" style="width: 300px; float: left;" type="email" placeholder="Email">
                <input class="inf" style="width: 300px; float: right;" type="number" placeholder="Số điện thoại">
                <input class="mess" type="text" placeholder="Lời nhắn">
                <button class="btn"><div>Gửi đi</div></button>
        </div>
        
        <div class="clear"></div>
    </div>
    <hr>
